<div class="container">
  <div class="jumbotron">
    <h1 data-intro="Project title" data-position="right">Chardin.js</h1>
    <p class="lead">
      Simple overlay instructions for your apps.
    </p>
    <img style="height:auto" src="../assets/chardin.png" data-intro="An awesome 18th-century painter, who found beauty in everyday, common things." data-position="right" />
    <button (click)="onclick()" class="btn btn-large primary" data-toggle="chardinjs" data-intro="This button toggles the overlay, you can click it, even when the overlay is visible" data-position="left">See it in action</button>
    <!-- <img src="img/chardin.png" data-intro="An awesome 18th-century painter, who found beauty in everyday, common things." data-position="right" />
    <a href="#" class="btn btn-large primary" data-toggle="chardinjs" data-intro="This button toggles the overlay, you can click it, even when the overlay is visible" data-position="left">See it in action</a>
     -->
    <!-- <button (click)="click()" class="btn btn-large primary" id="opentour" class="hide" data-toggle="chardinjs">Or open it again</button>
    <div class="credits">
      <p data-intro="Author of this plugin, aka Pablo Fernandez" data-position="right">
        Baked with
        <b>&lt;3</b>
        by
        <a href="https://github.com/heelhook">@heelhook</a>.
      </p>
    </div> -->
  </div>


<!-- <div class="container">
    <div class="jumbotron">
      <h1 data-intro="Project title" data-position="right">Chardin.js</h1>
      <p class="lead">
        Simple overlay instructions for your apps.
      </p>
      <img style="height:auto" src="https://i.picsum.photos/id/443/536/354.jpg?hmac=9bm92pmJfiDalgu7oHDis-QrTwMKSUfrRQS7NX0tmc0" data-intro="An awesome 18th-century painter, who found beauty in everyday, common things." data-position="right" />
      <button (click)="click()" class="btn btn-large primary" data-toggle="chardinjs" data-intro="This button toggles the overlay, you can click it, even when the overlay is visible" data-position="left">See it in action</button>
      <a href="" id="opentour" class="hide" data-toggle="chardinjs">Or open it again</a>
      <div class="credits">
        <p data-intro="Author of this plugin, aka Pablo Fernandez" data-position="right">
          Baked with
          <b>&lt;3</b>
          by
          <a href="https://github.com/heelhook">@heelhook</a>.
        </p>
      </div>
    </div>


      <div class="links">
        <p id="links" data-intro="Links to Github, Twitter, etc." data-position="top">
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Check out Chardin.js, simple overlay instructions for apps, https://heelhook.github.com/chardin.js" data-count="none" data-via="pablo2dot0">Tweet</a>
          <a href="https://twitter.com/pablo2dot0" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @pablo2dot0</a>
          <iframe style="display: inline-block;" frameborder="no" scrolling="no" height="30px" width="70px" src="http://hnlike.com/upvote.php?link=http%3A%2F%2Fheelhook.github.com&title=Chardin">iframes not supported by your browser</iframe>
        </p>
      </div>

    <div class="license">
      Code licensed under the
      <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.
    </div>
  </div> -->

